* {
    box-sizing: border-box;
}
/* * this star denotes that 
the property will be applied to the whole code.*/
.a {
    border-style: solid;
    border-width: 5px;
    border-color: red;
}
.b {
    border-style: dotted;
    border-width: 10px;
    border-color: rgb(0,255,0);
}
.c {
    border-style: dashed;
    border-width: 15px;
    border-color: #0001ff;
    padding: 5px 10px 10px ; /* since there is no \
    left padding then 
    by default it will take its opposite padding 
    ,i.e. right paddding (in this case)*/
}


.d {
    border-left: dashed 10px blue;
    border-right: dashed 10px red;
    border-top: dashed 10px #000;
    border-bottom: dashed 10px #000;
    padding: 10px 5px 10px 5px ;
    margin: 10px 500px 0px 5px;
}