div {
    border: solid 1px red;
    height: 150px;
}

h1 {
    position: relative;
    z-index: 3;
}

p{
    background-color: skyblue;
    position: relative;
    top: -25px;
    z-index: 2;
}